section{
    border: 2px solid darkorange;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(7, 7, 241, 0.1);
}

/* sec1 */
.sec1 {
    & div {
        border: 1px solid gray;
        padding: 8px;
    }
    
    & h2 {
        text-align: center;
        text-transform: uppercase;
        color: #4CAF50;
    }
    
    & p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }
    
    & a {
        text-decoration: none;
        color: #008CBA;
        font-weight: bold;
        
        &:active {
            color: black;
            text-decoration: underline;
        }
    }
}

/* sec2 */
.sec2 {
    color: blue;
    & h2 {
        color: green;
    }
}

/* sec3 */
.sec3 {
    background-color: lightgrey;
    color: blue;
}
.sec3 h2 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
.sec3 div {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 5px;
}

/* sec4 */
.sec4 h2 {
    text-align: center;
}
.sec4 h3 {
    text-align: left;
}
.sec4 h4 {
    text-align: right;
}
.sec p {
    text-align: left;
}

/* sec5 */
.sec5 {
    height: 350px;
}
.sec5 p {
    width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.sec5 div {
    background-color: black;
    color: violet;
    border: 3px solid white;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: justify;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sec5 div:hover {
    overflow: visible;
    height: auto;
    z-index: 1;
}

/* sec6 */
.a {
    text-align: right;
}
.b {
    text-align: center;
}
.c {
    text-align: justify;
}

/* sec7 */
p.ex1 {
    direction: rtl;
    unicode-bidi: bidi-override;
}

/* sec8 */
.sec8 img {
    width: 9px;
    height: 9px;
}
.aa {
    vertical-align: baseline;
}
.bb {
    vertical-align: text-top;
}
.cc {
    vertical-align: text-bottom;
}
.dd {
    vertical-align: sub;
}
.ee {
    vertical-align: super;
}

/* sec9 */
.sec9 h2 {
    text-decoration: overline;
}
.sec9 h3 {
    text-decoration: line-through;
}
.sec9 h4 {
    text-decoration: underline;
}
.sec9 p.ex9 {
    text-decoration: overline underline;
}

/* sec10 */
.sec10 h2 {
    text-decoration-line: overline;
    text-decoration-color: red;
}
.sec10 h3 {
    text-decoration: line-through;
    text-decoration-color: blue;
}
.sec10 h4 {
    text-decoration-line: underline;
    text-decoration-color: green;
}
.sec10 p {
    text-decoration-line: overline underline;
    text-decoration-color: purple;
}

/* sec11 */
.sec11 h2 {
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.sec11 h3 {
    text-decoration-line: underline;
    text-decoration-style: double;
}
.sec11 h4 {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
.sec11 p.ex11_1 {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}
.sec11 p.ex11_2 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
.sec11 p.ex11_3 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}

/* sec12 */
.sec12 h2 {
    text-decoration-line: underline;
    text-decoration-thickness: auto;
}
.sec12 h3 {
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}
.sec12 h4 {
    text-decoration-line: underline;
    text-decoration-thickness: 25%;
}
.sec12 p {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: double;
    text-decoration-thickness: 5px;
}

/* sec13 */
.sec13 h2 {
    text-decoration: underline;
}
.sec13 h3 {
    text-decoration: underline red;
}
.sec13 h4 {
    text-decoration: underline red double;
}
.sec13 p {
    text-decoration: underline red double 5px;
}

/* sec14 */
.sec14 a {
    text-decoration: none;
}

/* sec15 */

/* p태그가 첫번째 자식이 아니고 h2가 첫번째 자식이라
작동 안함 
.sec15 p:nth-child(1){
    text-transform: uppercase;
} */
.sec15 p:nth-of-type(1) {
    text-transform: uppercase;
}
.sec15 p:nth-child(3) {
    text-transform: lowercase;
}
.sec15 p:nth-of-type(3){
    text-transform: capitalize;
}

/* sec16 */
.sec16 p {
    text-indent: 50px;
}

/* sec17 */
.sec17 h3 {
    letter-spacing: 5px;
}
.sec17 h4 {
    letter-spacing: -2px;
}

/* sec18 */
.sec18 div {
    border: 1px solid black;
}
.small {
    line-height: 0.7;
}
.big {
    line-height: 1.8;
}

/* sec19 */
.one {
    word-spacing: 10px;
}
.two {
    word-spacing: -2px;
}

/* sec20 */
.sec20 p {
    width: 500px;
    white-space: nowrap;
    border: 1px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sec20 p:nth-child(2):hover {
    overflow: visible;
    width: 100%;
}

/* sec21 */
.sec21 h2 {
    text-shadow: 2px 2px;
    text-align: center;
    font-size: 40px;
}

/* sec22 */
.sec22 h2 {
    text-shadow: 2px 2px red;
    text-align: center;
    font-size: 40px;
}

/* sec23 */
.sec23 h2 {
    text-shadow: 2px 2px 5px red;
    text-align: center;
    font-size: 40px;
}

/* sec24 */
.sec24 h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-size: 40px;
}

/* sec25 */
.sec25 h2 {
    text-shadow: 0 0 3px #FF0000;
    text-align: center;
    font-size: 40px;
}

/* sec26 */
.sec26 h2 {
    text-shadow: 0 0 3px #FF0000,
    0 0 5px #0000FF;
    text-align: center;
    font-size: 40px;
}

/* sec27 */
.sec27 h2 {
    color: white;
    text-shadow: 
    1px 1px 2px black,
    0 0 25px #0000FF,
    0 0 5px darkblue;
    text-align: center;
    font-size: 40px;
}

/* sec28 */
.sec28 p{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.sp1 {
    text-shadow: -10px -10px 10px black;
}
.sp2 {
    text-shadow: 10px 10px red;    
}
.sp3 {
    text-shadow: none;
}
.sp3:hover {
    text-shadow: 
    10px 10px 5px yellow,
   -10px -10px 5px green,
   10px -10px 5px pink, 
   -10px 10px 5px blue;
}