div {
    border: 3px solid lightblue;
    padding: 5px;
    margin-bottom: 5px;
}

p.one {
    border-style: solid;
    border-width: 5px 20px;
}

p.two {
    border-style: solid;
    border-width: 20px 5px;
}

p.three {
    border-style: solid;
    border-width: 25px 10px 4px 35px;
}

p.multicolor {
    border-style: solid;
    border-color: red green blue yellow;
}
p.hex1 {
    border: solid #ff0000;
}

p.hex2 {
    border: solid #0000ff;
}

p.hex3 {
    border: solid #bbbbbb;
}

p.sideBorder {
    border: 10px black;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: double;
    border-left-style: outset;
}

p.doubBorder {
    border-style: dotted solid;
}

p.dif1 {
    border-style: dotted solid double dashed;
}

p.dif2 {
    border-style: dotted solid double;
}

p.dif3 {
    border-style: dotted solid;
}

p.dif4 {
    border-style: dotted;
}