div {
    border: 3px solid lightblue;
}

p.margAuto {
    width: 300px;
    margin: auto;
    border: 1px solid red;
}

.div2 > div {
    border: 1px solid red;
    margin-left: 100px;
}

p.ex1 {
    margin-left: inherit;
}