section {
    border: 2px solid rgb(236, 236, 23);
    padding: 10px;
    margin-bottom: 5px;
}
.sec1 p,
.sec2 p,
.sec3 p {
    border: 1px solid black;
    width: 600px;
    margin: 5px auto;
    padding: 10px;
}
.list1 {
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    margin: auto;
}
.list2 {
    border: 1px solid black;
    width: 400px;
    padding: 5px;
    margin: auto;
}

/* sec1 */
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.align-justify {
    text-align: justify;
}

/* sec2 */
.indent1 {
    text-indent: 15px;
}
.indent2 {
    text-indent: 5%;
}

/* sec3 */
.small-line {
    line-height: 0.7;
}
.big-line {
    line-height: 2;
}

/* sec4 */
.content {
    border:2px solid #ccc;
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content:hover {
    overflow: visible;
    width: 700px;
}

/* sec5 */
.min {
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    width: 400px;
    margin: auto;
}

/* sec6 */
#container {  /* 전체 콘텐츠를 감싸는 div */
    width:650px;  /* 너비 */
    margin:0 auto;  /* 가로로 중앙에 배치 */
    padding:5px;	/* 테두리와 내용 사이의 패딩 여백 */		
}
#check {   /* 텍스트 부분을 감싸는 div */
    width:640px;  /* 너비 - 그림 너비 값에 맞춤 */
    border:1px solid #ccc;  /* 테두리 */
}
#container h1 {
    color: white;
    font-size: 1em;
    background: #222;
    margin: 0;
    padding: 10px;
}
#container h2 {
    color: #ff0000;
    font-size: 1.2em;
    text-align: center;
}
#container p {
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
    text-align: center;
}
.accent {
    color: blue;
}
.small-text {
    font-size: 0.7em;
}

/* sec7 */
.sqbullet {
    list-style-type: square;
}
.nobullet {
    list-style: none;
}

/* sec8 */
.book1 {
    list-style-type: lower-alpha;
}
.book2 {
    list-style-type: upper-roman;
}

/* sec9 */
.ulimg {
    list-style-image: url('file:///C:/Users/YONSAI/Documents/front_202502/Doit!_HTML5CSS3%EC%9B%B9%ED%91%9C%EC%A4%80%EC%9D%98%EC%A0%95%EC%84%9D_%EC%86%8C%EC%8A%A4/06/images/dot.png');
}

/* sec10 */
.inside {
    list-style-position: inside;
}

/* sec11 */
.uselist {
    list-style: nones;
}

/* sec12 */
.sec12 .q1{
    font-weight: 700;
    font-size: larger;
}
.container1 {
    width:500px;
    padding:10px;
    border:1px solid #ccc;
}

/* sec13 */
.container2 {
    width:500px;
    padding:10px;
    border:1px solid #ccc;
}
.sec13 ul {
    list-style: none;
}
.subject {
    font-weight:700;
    font-size:larger;
    color: #ad3000;
}
.sec13 li {
    line-height: 2;
}

/* sec14 */
.container3 {
    width:500px;
    height:50px;
    margin:0 auto;
    background-color:#444;
}   
.sec14 h1 {
    text-align: center;
    color: white;
    text-shadow: 3px 2px 5px black;
} 

/* sec15 */
.sec15 {
    font-family: "맑은 고딕", 돋움;
}
.sec15 h1 {
    font-family: 17px;
}
.sec15 p {
    font-size: 16px;
    line-height: 25px;
}
.accent15 {
    font-weight: bold;
    color: red;
}
.book-img {
    float: left;
    margin-right: 20px;
}