section {
    border: 2px solid rgb(236, 236, 23);
    padding: 10px;
    margin-bottom: 5px;
}
p {
    width: 500px;
}

/* index_symbol */
.div1 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin-bottom: 70px;
}
.div2 {
    display: flex;
    flex-direction: row; 
    gap: 100px;
    margin: auto;
}
caption {
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: bold;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}
.tb1, .tb2, .tb5 {
    width: 600px;
}
td:nth-child(1) {
    text-align: center;
    width: 40px;
}

.tb1 td:nth-child(2),
.tb2 td:nth-child(2),
.tb4 td:nth-child(2),
.tb5 td:nth-child(2) {
    text-align: center;
    width: 70px;
}

th {
    background-color: rgba(177, 228, 245, 0.5);
}

/* index_boxmodel */
.box1 {
    background-color: lightgray;
    width: 300px;
    border: 15px solid green; 
    padding: 50px;
    margin: 20px;
}

.box2 {
    width: 320px;
    height: 50px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

/* index_outline */
/* sec3 */
.dotted {
    outline-style: dotted;
}
.dashed {
    outline-style: dashed;
}
.solid {
    outline-style: solid;
}
.double {
    outline-style: double;
}
.groove {
    outline-style: groove;
}
.ridge {
    outline-style: ridge;
}
.inset {
    outline-style: inset;
}
.outset {
    outline-style: outset;
}

/* sec4 */
.ex1 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thin;
}
.ex2 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: medium;
}
.ex3 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thick;
}
.ex4 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: 4px;
}

/* sec5 */
.col1 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: red;
}
.col2 {
    border: 2px solid black;
    outline-style: dotted;
    outline-color: blue;
}
.col3 {
    border: 2px solid black;
    outline-style: outset;
    outline-color: grey;
}

/* sec6 */
.hex1 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: #ff0000;
}
.hex2 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: #0000ff;
}
.hex3 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: #bbbbbb;
}

/* sec7 */
.rgb1 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: rgb(255, 0, 0);
}
.rgb2 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: rgb(0, 0, 255);
}
.rgb3 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: rgb(187, 187, 187);
}

/* sec8 */
.hsl1 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: hsl(0, 100%, 50%);
}
.hsl2 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: hsl(240, 100%, 50%);
}

.hsl3 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: hsl(0, 0%, 73%);
}

/* sec9 */
.short1 {
    outline: dashed;
}
.short2 {
    outline: dotted red;
}
.short3 {
    outline: 5px solid yellow;
}
.short4 {
    outline: thick ridge pink;
}

/* sec10 */
.out {
    margin: 30px;
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
}

/* sec11 */
.off{
    margin: 30px;
    background: yellow;
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
}