section {
    border: 2px solid rgb(236, 236, 23);
    padding: 10px;
    margin-bottom: 5px;
}

/* index_symbol */
.div1 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin-bottom: 70px;
}
.div2 {
    display: flex;
    flex-direction: row; 
    gap: 100px;
    margin: auto;
}
caption {
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: bold;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}
.tb1, .tb2, .tb5 {
    width: 600px;
}
td:nth-child(1) {
    text-align: center;
    width: 40px;
}

.tb1 td:nth-child(2),
.tb2 td:nth-child(2),
.tb4 td:nth-child(2),
.tb5 td:nth-child(2) {
    text-align: center;
    width: 70px;
}

th {
    background-color: rgba(177, 228, 245, 0.5);
}

/* index_boxmodel */
.box1 {
    background-color: lightgray;
    width: 300px;
    border: 15px solid green; 
    padding: 50px;
    margin: 20px;
}

.box2 {
    width: 320px;
    height: 50px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}