section {
    border: 2px solid rgb(236, 236, 23);
    padding: 10px;
    margin-bottom: 5px;
}

.div1 {
    background-color: lightgray;
    width: 300px;
    border: 15px solid green; 
    padding: 50px;
    margin: 20px;
}

.div2 {
    width: 320px;
    height: 50px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}