section {
    border: 2px solid green;
    padding: 10px;
    margin-bottom: 5px;
}

/* sec1 */
.sec1 li {
    display: inline;
}

/* sec2 */
.sec2 span {
    display: block;
}

/* sec3 */
.sec3 a {
    display: block;
}

/* sec4 */
.sec4 .hidden {
    display: none;
}

/* sec5 */
.sec5 .hidden {
    visibility: hidden;
}

/* sec8 */
.sec9 img {
    width: 300px;
    height:200px;
}
.sec9 button {
    width: auto;
    height: 50px;
    background-color: aqua;
    border-radius: 5px;
    margin-top: 20px;
}
.sec9 {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.div9_1,
.div9_2,
.div9_3 {
    background-color: lightgrey;
    padding: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}